name: Deploy Jekyll Site

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
        
    - name: Install dependencies
      run: |
        gem install jekyll
        gem install bundler
        
    - name: Build with Jekyll
      run: |
        jekyll build --future
      env:
        JEKYLL_ENV: production
