name: Jekyll site CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Jekyll
      uses: docker://jekyll/builder:latest
      with:
        args: jekyll build --future
